go 1.25.3

use (
	./backend/gen/go
	./backend/pkg
	./backend/services/auth
	./backend/services/cart
	./backend/services/catalog
	./backend/services/gateway
	./backend/services/inquiry
	./backend/services/inventory
	./backend/services/notification
	./backend/services/order
	./backend/services/recommend
	./backend/services/search
)
